@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  overflow-x: hidden;
}

.ellipse-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bp4-tab {
  outline: none;
  color: darkgray;
}
.bp4-tab-list {
  margin: 0 40%;
  outline: none;
}
.bp4-tab[aria-selected="true"] {
  color: #9eceb4;
}
.bp4-tab[aria-selected="true"],
.bp4-tab:not([aria-disabled="true"]):hover {
  color: #9eceb4;
}
.bp4-tab-indicator-wrapper .bp4-tab-indicator {
  background-color: #9eceb4;
}
